In [ ]:
tu = (23,'abc', 4.56, (2,3), 'def')

In [ ]:
li = ["abc", 34, 4.34, 23]

In [ ]:
st = "Hello World"
st = 'Hello World'
st = """This is a multi-line
string that uses triple quotes."""

In [ ]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1] # Second item in the tuple.

'abc'

In [ ]:
li = ["abc", 34, 4.34, 23]
li[1] # Second item in the list.

34

In [ ]:
st = "Hello World"
st[1] # Second character in string.

'e'

In [ ]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1]

'abc'

In [ ]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[-3]

4.56

In [ ]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:4]

('abc', 4.56, (2, 3))

In [ ]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:-1]

('abc', 4.56, (2, 3))

In [ ]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:-1:2]

('abc', (2, 3))

In [ ]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[:2]

(23, 'abc')

In [ ]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[2:]

(4.56, (2, 3), 'def')

In [ ]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [ ]:
t = [1, 2, 4, 5]
3 in t

False

In [ ]:
t = [1, 2, 4, 5]
4 in t

True

In [ ]:
t = [1, 2, 4, 5]
4 not in t

False

In [3]:
a = 'abcde'
'c' in a

True

In [2]:
a = 'abcde'
'cd' in a

True

In [1]:
a = 'abcde'
'ac' in a

False